@{
    ViewData["Title"] = "Оплата заказа";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Оплата заказа</h2>
</div>

<div class="text-center">
    <h2 class="row-title">Заказ успешно оплачен! Благодарим за покупку!</h2>
</div>

<div class="text-center m-5">
    <a class="btn btn-outline-success"
       asp-controller="Home"
       asp-action="Index">
        Продолжить покупки
    </a>
</div>