<div class="text-left">
    <h1>Как с нами связаться</h1>
    <p>
        <h3>Контакты:</h3><br />
        <b>Телефон:</b> <a href="tel:+########">7(###)###-##-##</a><br />
        <b>E-mail:</b> <a href="###">###</a><br />
        <b>Адрес:</b> Санкт-Петербург###<br />
        <b>Контактное лицо:</b> Иванов Иван Иванович<br />
        <hr />
        <b>Время работы:</b> пн-вс: 10.00 - 20.00<br />
    </p>
</div>