@model ChangePassword
@{
    ViewData["Title"] = "Смена пароля пользователя";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Смена пароля пользователя</h2>
</div>

<form method="post">
    <div class="row justify-content-center mt-3">
        <div class="col-6 mb-3">
            <div class="text-danger fw-bold text-uppercase" asp-validation-summary="All"></div>
            <input type="hidden" name="Login" value="@Model.Email" />
            <p>
                <label class="form-label" asp-for="Password"></label><br />
                <input class="form-control" asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </p>
            <p>
                <label class="form-label" asp-for="ConfirmPassword"></label><br />
                <input class="form-control" asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
            </p>
        </div>
    </div>
    <div class="text-center m-3">
        <button class="btn btn-outline-success" type="submit">                
            Обновить
        </button>
    </div>
</form>
