<div class="row justify-content-end">
    <form asp-controller="Home" asp-action="Search" class="d-flex w40" method="get">
        <input class="form-control m-1" type="search" placeholder="Поиск..." name="query">
        <button class="btn btn-outline-success" type="submit" value="search">Искать</button>
    </form>
</div>