<div class="col-3 mb-3 min">
    <div class="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-link">
                <a class="nav-link"
                   asp-area="Admin"
                   asp-controller="Order"
                   asp-action="Index">
                    Заказы
                </a>
            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-area="Admin"
                   asp-controller="User"
                   asp-action="Index">
                    Пользователи
                </a>
            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-area="Admin"
                   asp-controller="Role"
                   asp-action="Index">
                    Роли
                </a>

            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-area="Admin"
                   asp-controller="Product"
                   asp-action="Index">
                    Товары
                </a>
            </li>
            <li class="nav-link">
                <a class="nav-link"
                   asp-area="Admin"
                   asp-controller="Category"
                   asp-action="Index">
                    Каталог
                </a>
            </li>
        </ul>
    </div>
</div>