@using OnlineShopWebApp.Areas.Client.Models
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Наша Продукция";
}

<div class="text-center text-uppercase text-success mb-5 mt-5">
    <h2 class="row-title">Каталог товаров</h2>
</div>
@await Html.PartialAsync("ProductsCatalog", Model)